<html>

<head th:replace="~{header::header}"></head>

<body>
    <div class="container">
    <form action="/veiculo/save" method="post">
        <legend>Adicionar um novo Veiculo</legend>
        <div class="mb-3">
            <label class="form-label">Nome do Veiculo</label>
            <input class="form-control" type="text" id="name" name="name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Tipo do Veiculo</label>
            <input class="form-control" type="text" id="type" name="type" />
        </div>
        <div class="mb-3">
            <label class="form-label">Descricao do Veiculo</label>
            <input class="form-control" type="text" id="description" name="description" />
        </div>
        <input type="submit" value="Criar Veiculo" class="btn btn-primary">
    </form>
    </div>
</body>

</html>