<html>

<head th:replace="~{header::header}"></head>

<body>
    <div class="container">
        <form th:action="@{/fabricante/edit/{id}(id=${editFabricante.id})}" method="post">
            <legend>Editar Fabricante</legend>
            <div class="mb-3">
                <label class="form-label">Nome do Fabricante</label>
                <input class="form-control" type="text" id="name" name="name" th:field="${editFabricante.name}" />
            </div>
            <input type="submit" value="Editar Fabricante" class="btn btn-primary">
        </form>
    </div>
</body>

</html>